absl_py==1.2.0
apiclient==1.0.4
bottleneck==1.3.5
cdsapi==0.5.1
cfgrib==0.9.10.1
cftime==1.6.1
cloudpickle==2.1.0
codetiming==1.3.0
dask==2022.7.1
dataclasses==0.6
earthengine-api==0.1.317
eccodes==1.4.2
ecmwf-api-client==1.6.3
firebase-admin==5.2.0
flake8==5.0.4
flox==0.5.9
fsspec==2022.5.0
gcsfs==2022.5.0
geojson==2.5.0
google-api-python-client==1.12.11
google-cloud-firestore==2.6.0
google-cloud-storage[bqstorage, pandas]==2.2.1
h5netcdf==1.0.1
metview==1.12.0
more-itertools==8.13.0
netCDF4==1.6.0
numbagg==0.2.1
numpy==1.22.4
oauthclient==1.0.3
pandas==1.4.3
pydap==3.2.2
pyproj==3.3.1
pytest==7.1.2
pytest_subtests==0.8.0
pytype==2022.8.3
rasterio==1.3.0
rioxarray==0.11.1
scipy==1.9.0
shapely==1.8.2
simplejson==3.17.6
tenacity==8.0.1
xarray==2022.6.0
xarray_beam==0.3.1
zarr==2.12.0